pkgbase = python-sphinx-alabaster-theme
	pkgdesc = Light, configurable Sphinx theme
	pkgver = 0.7.16
	pkgrel = 2
	url = https://github.com/sphinx-doc/alabaster
	arch = any
	license = BSD-3-Clause
	makedepends = git
	makedepends = python-build
	makedepends = python-flit-core
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	source = git+https://github.com/sphinx-doc/alabaster.git#tag=0.7.16
	b2sums = e67e311364df98595eac9320d894e628ca78a73ce49864984c788b1926294d9a805932b2e22e6b6d0330865f1eb308f042a8084c21374df540885bd25e3258b5

pkgname = python-sphinx-alabaster-theme
