pkgbase = python-sphinx-alabaster-theme
	pkgdesc = Light, configurable Sphinx theme
	pkgver = 0.7.15
	pkgrel = 1
	url = https://github.com/sphinx-doc/alabaster
	arch = any
	license = BSD-3-Clause
	makedepends = git
	makedepends = python-build
	makedepends = python-flit-core
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	source = git+https://github.com/sphinx-doc/alabaster.git#tag=0.7.15
	b2sums = SKIP

pkgname = python-sphinx-alabaster-theme
